<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}
      <section class="article">
        <div class="article-header">
          {% if page.thumbnail %}
          <img src="{{ page.thumbnail }}" alt="Thumbnail for {{ page.title }}" class="article-thumbnail">
          {% endif %}
          <h2 class="article-title">{{page.title}}</h2>
          {% assign words = content | number_of_words %}
          {% assign minutes = words | divided_by: 200 %}
          {% if minutes < 1 %}
          {% assign minutes = 1 %}
          {% endif %}
          {{ minutes }} min read
          <small class="date">{{page.date | date_to_string}}</small>
          <div class="categories">
            {% for c in page.categories %}
            <a href="#!" class="category">{{c}}</a>
            {% endfor %}
          </div>
        </div>
        <div class="content">{{content}}</div>
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
</html>
